[submodule "ucfaresweek5/www/js"]
	path = ucfaresweek5/www/js
	url = https://github.com/ucfares/cege0043-jsReference
[submodule "ucfaresweek5/www/images"]
	path = ucfaresweek5/www/images
	url = https://github.com/ucfares/cege0043-imagesReference
